body {
  background-image: url("img/pizza-dog.jpg");
  z-index: -1;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  width: 100%;
  color: #f2485c;
  font-weight: bold;
  text-align: center;
  margin: 2%;
}

#order-display {
  display: none;
  margin: 10% 35%;
  z-index: 1;
}

h1 {
  margin: 10px;
  color: #f2485c;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  margin: 5%;
}

.card {
  padding: 10px;
}
select {
  margin-bottom: 5px 5px;
}

#place-order-button {
  margin: 5%;
}

#reorder {
  color: white;
  text-decoration: none;
}
