body {
  z-index: -1;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  width: 100%;
  color: #f2485c;
  font-weight: bold;
  text-align: center;
  margin: 1%;
}

#order-display {
  display: none;
  margin: 10% 35%;
  z-index: 1;
}

h1 {

  color: #f2485c;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 100px;
}

img {
  width: 100%;
  height: auto;
}

.card {
  padding: 10px;
  margin-top: 2%;
}
select {
  margin-bottom: 5px 5px;
}

#place-order-button {
  margin-bottom: 5%;
}



#reorder {
  color: white;
  text-decoration: none;
}
